* {background-color: #e7bf8e; font-family: Verdana, Geneva, Tahoma, sans-serif;}


h1 {text-align: center; color: blueviolet; font-size: 42px;}

.titles { font-size: 28px; color: blue;}

.lists { font-size: 20px; color: aquamarine;}

.text { font-size: 24px; color: antiquewhite;}